.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  input {
    width: 100%;
    max-width: 30rem;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }
}
